<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/poseit.css" rel="stylesheet">
</head>

<body class="bg">

    <div class="graph-box ">
        <p class="note text-center text-xl font-bold mb-4">
            Note: The below graph is the course vs enroll students bar graph. You can also find the number of enrolled students at the
            top of the bar.
        </p>
        <div class="chart-container" id="chartContainer">
            <% for (let i=0; i < educss.length; i++) { %>
                <div class="bar">
                    <% const barHeight=enrollments[i] * 20; %>
                        <div style="height: <%= barHeight %>px">
                            <%= enrollments[i] %>
                        </div>
                        <span>
                            <%= educss[i] %>
                        </span>
                </div>
                <% } %>
        </div>
    </div>

</body>

</html>